.mainSlideCat {
  width: 100%;
  float: left;
  /* background: rgba(249, 209, 255, 0.4); */
  background-color: #c8deff;
}
.sliderCategory {
  /* height: 300px; */
  width: 80%;

  /* height: 800px; */
  margin: 0 10% 30px 10%;
  float: left;
}

.sliderCategory .card {
  background-color: white;
  width: 80%;
  height: 350px;
  margin: 0 10%;
  float: left;
  text-align: center;
  border-radius: 5px;
  /* background-color: red; */
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.2);
}
.sliderCategory .guIbWC {
  justify-content: left !important;
}
.sliderCategory img {
  height: 290px;
  margin-top: 20px;
  object-fit: contain;
}
.sliderCategory .eAyARa {
  background-color: transparent;
  color: black;
  box-shadow: none;
  border-radius: 0;
  /* position: absolute;
  left: 100px; */
}
.sliderCategory .eWjCzc {
  background-color: transparent;
  color: black;
  box-shadow: none;
  border-radius: 0;
}
.sliderCategory .rec-arrow-left {
  position: absolute;
  left: 100px;
  z-index: 999;
}
.sliderCategory .rec-arrow-right {
  position: absolute;
  right: 100px;
}
.eWjCzc:hover:enabled,
.eWjCzc:focus:enabled {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.sc-gsnTZi.guIbWC.rec.rec-item-wrapper {
  padding: 30px 0 !important;
}
.sc-iBkjds.kdCslO.rec.rec-pagination {
  display: none;
}
