@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* background-color: #e5e5e5 !important; */
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}
/* button */
.grayBtn {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 3%;
  background-color: #666666;
  color: white;
}
.viewMore {
  background-color: #9b47dc !important;
}
@media screen and (max-width: 1000px) {
  .grayBtn {
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 13px;
    padding: 10px 5%;
    background-color: #666666;
    color: white;
  }
}
.productTitle {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
/* button */
/*------------------------------- navBar css---------------- */
.navBar {
  width: 100%;
  float: left;
  /* padding: 1% 0 0 0; */
  height: 70px;
  /* background-color: #c4c4c4; */
  background: rgba(239, 212, 231, 1);
  /* background-color: rgb(128, 37, 164); */
  font-family: 'Montserrat', sans-serif;
}
.navBar .innerNav {
  height: 100%;

  /* background-color: red; */

  float: left;
  width: 80%;
  margin: 0 10%;
}
.navBar .innerNav .logo {
  width: 10%;
  float: left;
  height: 100%;
  /* background-color: blue; */
  /* margin-right: 2%; */

  /* text-align: center; */
}
.navBar .logo img {
  width: 50%;
  height: 70px;
  float: left;
  object-fit: fill;
  /* background-color: blue; */

  /* float: left;
  
  margin-right: 2%; */
  /* text-align: center; */
}

.navBar .menu {
  text-align: center;
  width: 25%;

  height: 100%;
  /* background-color: blue; */
  float: left;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-right: 20px; */
}

.navBar .menu p {
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  float: left;
  color: #9b47dc;
  cursor: pointer;
  font-size: 18px;
  /* width: 30%; */
  margin: 0 30px 0 0;
  /* font-weight: bold; */
  /* margin: 0 10px; */
}
.navBar .search {
  position: relative;
  width: 45%;
  height: 100%;
  /* background-color: red; */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* margin-right: 2%; */
}
.navBar .search input {
  padding: 2%;
  height: 50%;
  position: absolute;
  border-radius: 20px;
  border: none;
  width: 100%;
  /* background: rgba(155, 71, 220, 0.25); */
  background-color: white;
  color: white;
}
.navBar .search input:focus-visible {
  border: none;
  outline: none;
}
.navBar .search input::placeholder {
  /* color: black; */
  color: #9b47dc;
}
.navBar .search i {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.navBar .icons {
  /* width: 15%; */
  float: right;
  height: 100%;
  /* width: 15%; */
  /* background-color: blue; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navBar .icons a {
  /* background-color: red; */
  height: 100%;
  width: auto;
  float: left;

  font-size: 10px;
}
.navBar .icons a .profileIcon {
  /* background-color: white; */
  /* width: 30px; */
  height: 100%;
  float: left;
  margin: 0 0 0 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .icons a .profileIcon i {
  font-size: 20px !important;
  margin: 0;
}
.navBar .icons a .signinInfo {
  /* background-color: white; */
  height: 100%;
  float: left;
  padding: 20px 0;
  /* width: 40px; */
  margin: 0 !important;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.navBar .icons a .signinInfo p {
  /* padding: 0 5px 0 0; */
  margin: 0 0 0 5px;
  width: 50px;
  float: left;
  /* background-color: red; */
}
.navBar .icons i {
  position: relative;
  /* right: -30px; */
  margin: 0 0 0 30px;
  font-size: 20px;
  float: left;
}
.navBar .icons i span {
  position: absolute;
  font-size: 13px;
  top: -10px;
  color: red;
}
.dropdown {
  display: none;
}

.navBar .hoverImage .userImage {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50px;
  margin: 0 0 0 20px;
  /* font-size: 5px; */
  /* border: 1px solid black; */
}
.navBar .hoverImage .dropImage {
  display: none;

  float: left;

  width: 150px;
}
.navBar .hoverImage .dropImage p {
  cursor: pointer;
  margin: 0;
  padding: 10px 10px;
}
.navBar .hoverImage .dropImage p:hover {
  background-color: #666666;
}
.navBar .hoverImage:hover .dropImage {
  position: relative;
  display: block;
  float: right;
  z-index: 99999;
  padding-top: 10px;
}
.navBar .hoverImage:hover .dropImage .innerDropImage {
  /* margin-top: 50px; */
  width: 100%;
  float: left;
  /* background-color: rgb(224, 224, 224); */
  background-color: white;
}
.navBar .menu .catDropDown {
  position: relative;
  float: left;
  height: 100%;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.navBar .menu .catDropDown .heading {
  height: 100%;
  display: flex;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.navBar .innerCategoryDrop {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 70px;
  width: 1000px;
  float: left;
  background-color: #e5e5e5;
  padding: 10px 20px;
}
.navBar .innerCategoryDrop .first {
  width: 33.33%;
  padding: 1% 1%;
  /* height: 100px; */
  /* background-color: blue; */
  float: left;
  /* margin-bottom: 10px; */
}
.navBar .innerCategoryDrop .first .catTitle {
  font-size: 18px !important;
  /* background-color: red; */
}
.navBar .innerCategoryDrop .first p {
  width: 100%;
  /* background-color: white; */
  float: left;
  text-align: left;
  font-size: 13px;
}
.navBar .menu .catDropDown:hover .innerCategoryDrop {
  display: block;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

@media screen and (max-width: 1000px) {
  .navBar .icons {
    display: none;
  }
  .navBar .menu {
    display: none;
  }
  .navBar {
    padding: 0;
  }
  .navBar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
    padding: 0;
    /* background-color: blue; */
  }
  .navBar .userImage {
    margin: 0 20px;
  }
  .navBar .logo img {
    height: 70px;
    /* padding: 0; */
    /* background-color: blue; */
  }
  .navBar .search {
    width: 60%;
    margin: 15px 0 0 20px;
    /* background-color: red; */
  }
  .dropbtn {
    background-color: transparent;
    /* position: absolute; */
    /* color: white; */
    /* padding: 16px 0; */
    right: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    height: 70px;
    /* background-color: red; */
  }
  .dropdown i {
    /* font-family: 'Montserrat', sans-serif !important; */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
  }
}
@media screen and (max-width: 600px) {
  .navBar .search {
    width: 50%;
    margin: 10px 0 0 5px;
    /* background-color: red; */
  }
}
/* --------------------------------navBar css------------------ */

/*-----------------catSlider---------------------*/
.catSlider {
  /* background-color: transparent; */
  width: 100%;
  float: left;
  margin: 20px 0%;
}
.catSlider .category {
  width: 20%;
  float: left;
  padding: 1%;
  background-color: #dadada;
  height: 507.33px;
}
.catSlider .category p {
  width: 100%;
  margin: 15px 0;
  /* background-color: #dadada; */
}
.catSlider .category p span {
  float: right;
  /* background-color: #dadada; */
}
.catSlider .sliders {
  /* width: 75%;
  margin: 0 0 0 5%; */
  width: 80% !important;
  /* margin: 0 10%; */
  /* border: 1px solid black; */
  float: left;
  margin: 0 10%;
  /* background-color: red; */
  height: 507.33px;
}
.catSlider .sliders .container {
  /* width: 1170px; */
  width: 100% !important;
  float: left !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  /* background-color: red !important; */
}
.container #slideImg img {
  width: 100% !important;
  height: 507.33px !important;
  float: left;
  /* object-fit: cover !important; */
}
.container .carousel-indicators li {
  margin: 0 5px !important;
}
.container .left.carousel-control {
  display: none !important;
}
.container .right.carousel-control {
  display: none !important;
}
/*-----------------catSlider---------------------*/

/*-------------------topSelingProduct and reviewd electronics----------------------*/

.topSell {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 20px;
  float: left;
  /* background-color: #dadada; */
  background-color: #c8deff;
}
.electronic {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 20px;
  float: left;
  /* background-color: #dadada; */
}

.products .innerTop {
  width: 80%;
  margin: 0 10%;
  float: left;
}
.products .innerTop .cards {
  width: 100%;
  float: left;
}
.products .innerTop .cards .lists {
  position: relative;
  width: 23%;
  height: 400px;
  float: left;
  margin: 0 1%;
}
.products .innerTop .cards .lists .cardsPic {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  width: 100%;
  float: left;
  height: 80%;
  background-color: white;
  /* background-color: red; */
}
.products .innerTop .cards .lists .cardsPic img {
  height: 80% !important;
  padding: 15% 0;
  float: left;
  object-fit: contain;
}
.products .innerTop .cards .lists .cardsPic .love {
  /* background-color: blue; */
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  height: 20%;
  width: 100%;
}
.products .innerTop .wishListBtn {
  background-color: #603f98;
  border: none;
  color: white;
  font-size: 13px;
  padding: 2% 4%;
  border-radius: 5px;
}
.products .innerTop .cards .lists .cardsPic .love i {
  font-size: 20px;
}
.products .innerTop .cards .lists .cardsPic .rating {
  width: 100%;
  float: left;
  padding: 5%;
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(5px);
}
.products .innerTop .cards .lists .cardsPic .rating i {
  float: left;
}
.products .innerTop .cards .lists .cardsPic .rating .fa-regular.fa-heart {
  float: right;
  margin-right: 10px;
}
.products .innerTop .cards .lists .details {
  /* position: absolute;
  bottom: 0; */
  float: left;
  width: 100%;
  margin-top: 20px;
  /* background-color: red; */
}
.products .innerTop .cards .lists .details p {
  margin-bottom: 5px;
}
.products .innerTop .btns {
  width: 100%;
  float: left;
  /* background-color: red; */
  text-align: center;
  padding: 2% 0 1% 0;
}
.products .innerTop .btns button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 2%;
  background-color: #666666;
  color: white;
}
@media screen and (max-width: 1000px) {
  .products .innerTop .cards .lists {
    position: relative;
    width: 40%;
    margin: 0 5%;
  }
}
@media screen and (max-width: 600px) {
  .products .innerTop .cards .lists {
    position: relative;
    width: 70%;
    margin: 0 15%;
  }
}
/*-------------------topSelingProduct and reviewd electronics----------------------*/

/*-------------------recommendedProduct----------------------*/

.recommendedProducts {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 20px;
  float: left;
  background-color: #dadada;
}
.recommendedProducts .innerTop {
  width: 80%;
  margin: 0 10%;
  float: left;
}
.recommendedProducts .innerTop .cards {
  width: 100%;
  float: left;
}
.recommendedProducts .innerTop .cards .lists {
  position: relative;
  width: 23%;
  height: 400px;
  float: left;
  margin: 0 1%;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}
.recommendedProducts .innerTop .cards .lists .cardsPic {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  width: 100%;
  float: left;
  height: 80%;
  background-color: white;
}
.recommendedProducts .innerTop .cards .lists .cardsPic .rating {
  width: 100%;
  float: left;
  padding: 5%;
  position: absolute;
  bottom: 0;
}
.recommendedProducts .innerTop .cards .lists .cardsPic .rating i {
  float: left;
}
.recommendedProducts
  .innerTop
  .cards
  .lists
  .cardsPic
  .rating
  .fa-regular.fa-heart {
  float: right;
  margin-right: 10px;
}
.recommendedProducts .innerTop .cards .lists .details {
  position: absolute;
  bottom: 0;
}
.recommendedProducts .innerTop .btns {
  width: 100%;
  float: left;
  /* background-color: red; */
  text-align: center;
  padding: 2% 0 1% 0;
}
.recommendedProducts .innerTop .btns button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 2%;
  background-color: #666666;
  color: white;
}
@media screen and (max-width: 1000px) {
  .recommendedProducts .innerTop .cards .lists {
    position: relative;
    width: 40%;
    margin: 0 5%;
  }
}
@media screen and (max-width: 700px) {
  .recommendedProducts .innerTop .cards .lists {
    position: relative;
    width: 70%;
    margin: 0 15%;
  }
}
/*-------------------recommendedProduct----------------------*/

/* <!-- -----------------------shopNow----------------------------------- --> */

.shopNow {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  /* height: 250px; */
  padding: 2% 0;
}
.shopNow .innerShopNow {
  width: 80%;
  margin: 0 10%;
  float: left;
}
.shopNow .innerShopNow .details {
  width: 50%;
  float: left;
  /* height: 100px; */
}
.shopNow .innerShopNow .details .titleP {
  font-size: 36px;
  letter-spacing: 2px;
}
.shopNow .innerShopNow .details .titleP2 {
  color: #787878;
  font-size: 20px;
  letter-spacing: 2px;
}
.shopNow .innerShopNow .shopNowImg {
  width: 35%;
  height: 250px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 1000px) {
  .shopNow .innerShopNow .details {
    width: 60%;
    float: left;
    /* height: 100px; */
    /* background-color: red; */
  }
  .shopNow .innerShopNow .details .titleP {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .shopNow .innerShopNow .details .titleP2 {
    color: #787878;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .shopNow .innerShopNow .shopNowImg {
    width: 40%;
    height: 250px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
/* <!-- -----------------------shopNow----------------------------------- --> */

/* -------------------------------sider css--------------------------------- */

/* .sliders {
  width: 100%;
  float: left;

  padding: 2% 0;
  background-color: #dadada;
} */
.sliders .dummySlide {
  width: 80%;
  float: left;
  margin: 0 10%;
}
.sliders .dummySlide .cards {
  width: 20%;
  height: 350px;
  border: 1px solid black;
}
/* -------------------------------sider css--------------------------------- */

/* -----------------email notification------------------------------- */
.emailNotification {
  width: 100%;
  margin-bottom: 5px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  padding: 5% 0 2% 0;
  background-color: #fdfafa;
}
.emailNotification .email {
  position: relative;
  width: 40%;
  /* background-color: red; */
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  /* background: rgba(84, 84, 84, 0.68); */
  background: #f1f1f1;
  border-radius: 20px;
  color: white;
}
.emailNotification .email input {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 20px;
  /* background: rgba(84, 84, 84, 0.68); */
  background: #f1f1f1;
  border: none;
  color: white !important;
  text-indent: 20px;
}
.emailNotification .email input::placeholder {
  color: black;
}
.emailNotification .email i {
  position: absolute;
  right: 10px;
  color: white;
}
/* -----------------email notification------------------------------- */
.emailNotification input::-webkit-input-placeholder {
  color: white;
}
.emailNotification input:-moz-placeholder {
  color: white;
}

/* -------------------------------footer------------------------------------ */

.footer {
  width: 100%;
  padding: 2%;
  float: left;
  /* background-color: #dadada; */
  background: rgba(200, 222, 255, 0.75);
}
.footer .innerFooter {
  width: 80%;
  float: left;
  margin: 0 10%;
}
.footer .logo {
  width: 30%;
  margin-right: 5%;
  float: left;
}
.footer .service {
  width: 30%;
  float: left;
  margin-right: 5%;
  /* background-color: red; */
}
.footer .contact {
  width: 30%;
  float: right;
  /* background-color: blue; */
}
/* -------------------------------footer------------------------------------ */

@media screen and (max-width: 1000px) {
  .navBar .menuBar {
    width: 200px;
    float: left;
  }
  .navBar .menuBar .fa-solid.fa-bars:hover .menuItem {
    display: block !important;
  }
  .navBar .menuBar .menuItem {
    display: none;
  }
}

/* ----------------custom slider--------------------------------- */
.slideContain {
  position: relative;
  width: 80%;
  /* border: 1px solid black; */
  height: 520px;
  float: left;

  /* background-color: red; */

  margin: 48px 10%;
}
.slideContain .slideImage {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: flex;
  overflow-x: hidden;

  /* justify-content: center; */
  height: 100%;
  float: left;
  /* background-color: red; */
}
.slideContain article {
  opacity: 0;
  width: 60% !important;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  margin: 0 20%;
  transition: all 0.4s ease-in-out !important;
}
.slideContain article img {
  width: 100%;
  border-radius: 5px;
}
.slideContain .slideImage img {
  /* width: 100%; */
  height: 100%;
  object-fit: fill;
  float: left;
}
.slideContain .active {
  /* width: 50%; */
  float: left;
  /* height: 100%; */
  transform: translateX(0%);
  /* background-color: red; */
  /* position: relative; */
  /* z-index: 99999; */
  /* margin-left: 20px; */
  opacity: 1;
}
.slideContain .prevSlide {
  transform: translateX(105%);
  opacity: 1;
}
.slideContain .nextSlide {
  /* width: 50%; */
  opacity: 1;
  /* float: left; */
  transform: translateX(-105%);
}
.slideContain .prev {
  position: absolute;
  color: rgb(101, 101, 101);
  font-size: 40px;
  font-weight: bold;
  height: 90%;
  /* top: 45%; */
  left: -50px;
  z-index: 999;
  /* padding: 1% 1%; */
  /* background-color: red !important; */
  opacity: 1;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideContain .prev:hover {
  color: black;
}
.slideContain .next {
  position: absolute;
  color: rgb(101, 101, 101);
  font-size: 40px;
  font-weight: bold;
  height: 90%;
  right: -50px;
  z-index: 999;
  padding: 1% 1%;
  opacity: 1;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideContain .next:hover {
  color: black;
}
.dots {
  position: absolute;
  /* background-color: blue; */
  width: 100%;
  height: 10%;
  float: left;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  /* margin-bottom: 20px; */
  /* background-color: red; */
}
.dots .none {
  /* position: absolute; */
  background-color: rgb(70, 68, 68);
  width: 8px;
  height: 8px;
  float: left;
  border-radius: 50px;
  margin: 10px 10px;
  cursor: pointer;

  /* z-index: 10000; */
}

.dots #active {
  background-color: white !important;
  width: 15px !important;
  height: 15px !important;
}
