@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* background-color: #e5e5e5 !important; */
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}
.grayBtn {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 3%;
  background-color: #666666;
  color: white;
}
@media screen and (max-width: 1000px) {
  .grayBtn {
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 13px;
    padding: 10px 5%;
    background-color: #666666;
    color: white;
  }
}
.productTitle {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
}

.topSellingProducts {
  width: 100%;
  float: left;
  padding: 2% 0;
}
.topSellingProducts .innerTop {
  width: 80%;
  float: left;
  margin: 0 10%;
}
.topSellingProducts .innerTop .head {
  width: 100%;
  float: left;
}
.topSellingProducts .innerTop .head p {
  float: left;
}
.topSellingProducts .innerTop .head select {
  float: right;
}
.topSellingProducts .innerTop .cards {
  width: 100%;
  float: left;
  /* background-color: red; */
}
.topSellingProducts .innerTop .cards .lists {
  position: relative;
  width: 23%;
  height: 500px;
  float: left;
  /* display: flex;
  justify-content: center; */
  margin: 0 1%;
  margin-bottom: 20px;
  /* margin-right: 2.6666667%; */
}
.topSellingProducts .innerTop .cards .lists .cardsPic {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  width: 100%;
  float: left;
  height: 80%;
  background-color: white;
}
.topSellingProducts .innerTop .cards .lists .cardsPic .cardImage {
  width: 100%;
  height: 55%;
  padding: 1% 1%;
  /* background-color: red; */
  float: left;
}
.topSellingProducts .innerTop .cards .lists .cardsPic .cardImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  float: left;
  border: 1px solid black;
}
.topSellingProducts .innerTop .cards .lists .cardsPic .descriptions {
  padding: 2% 2%;
  width: 100%;
  float: left;
  text-align: center;
}
.topSellingProducts .innerTop .cards .lists .cardsPic .rating {
  width: 100%;
  float: left;
  padding: 5%;
  position: absolute;
  bottom: 0;
}
.topSellingProducts .innerTop .cards .lists .cardsPic .rating i {
  float: left;
}
.topSellingProducts
  .innerTop
  .cards
  .lists
  .cardsPic
  .rating
  .fa-regular.fa-heart {
  float: right;
  margin-right: 10px;
}
.topSellingProducts .innerTop .cards .lists .details {
  position: absolute;
  bottom: 0;
}
.topSellingProducts .innerTop .btns {
  width: 100%;
  float: left;
  /* background-color: red; */
  text-align: center;
  padding: 2% 0 1% 0;
}
.topSellingProducts .innerTop .btns button {
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px 2%;
  background-color: #666666;
  color: white;
}
@media screen and (max-width: 1000px) {
  .topSellingProducts .innerTop .cards .lists {
    position: relative;
    width: 40%;
    margin: 0 5%;
  }
}
@media screen and (max-width: 600px) {
  .topSellingProducts .innerTop .cards .lists {
    position: relative;
    width: 70%;
    margin: 0 15%;
  }
}

.topSellingProducts .search {
  position: relative;
  width: 30%;
  height: 35px;
  margin-left: 20%;
  /* background-color: red; */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* margin-right: 2%; */
}
.topSellingProducts .search input {
  padding: 2%;
  height: 80%;
  position: absolute;
  border-radius: 20px;
  border: none;
  width: 100%;
}
.topSellingProducts .search input:focus-visible {
  border: none;
  outline: none;
}
.topSellingProducts .search i {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
